.zona-busqueda-container {
  margin: 0 4rem 2rem;
  padding: 1rem 2rem;
  background-color: var(--background-contents);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.zona-busqueda-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1.5rem;
}

.zona-busqueda-container>form,
.zona-busqueda-container>figure {
  width: 100%;
}

.leaflet-control-geocoder-icon {
  vertical-align: middle !important;
  width: 2rem !important;
  height: 2rem !important;
  background-color: white !important;
}

.leaflet-control-geocoder {
  height: 100%;
  border-radius: 1rem !important;
}

.leaflet-control-geocoder-form input {
  margin-bottom: 0;
}

@media (min-width: 1350px) {
  .zona-busqueda-container {
    align-items: flex-start;
  }

  .zona-busqueda-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .zona-busqueda-content figure {
    width: 60%;
  }

  .zona-busqueda-container>form {
    flex: 1;
    max-width: 50%;
  }

  .zona-busqueda-container>figure {
    flex: 1;
    max-width: 50%;
  }
}