.filters-container {
  margin: 0 4rem 2rem;
  padding: 1rem 2rem;
  background-color: var(--background-contents);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.filters-container form {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 4rem;
}

.filters-container form ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filters-container li {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.boton-filtro:hover {
  transform: scale(1.05);
  color: var(--text-color);
  border: 0.1rem solid black;
}

.boton-filtro.activo {
  border: 0.2rem solid var(--text-color);
  font-size: 0.9rem;
}
@media (max-width: 1024px) {
  .filters-container form ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;  
  }
}
