vendor/
logs/
Core/JWT/blacklist.json


*.tfstate
*.tfstate.backup
.terraform/
.crash/
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

deploy/secrets/
deploy/kubernetes/secret.yaml

.env
*.env
*.pem
*.key
*.crt
*.jks