@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  /* Colores principales*/
  --primary-color: #092469;
  --gradient-primary-color: #030e31;

  /* Colores de fondo */
  --background-color: #f4f6f5;
  --background-contents: #ffffff;
  /* Para contenido como forms, sections*/
  --footer-background-color: #092469;
  --button-primary-background-color: #64c67c;
  --button-cancel-background-color: #df2727;
  --button-secondary-background-color: #ffffff;

  /* Colores de texto */
  --text-color: #000000;
  --secondary-text-color: #ffffff;
  --muted-text-color: #64c67c;
  --contrast-text-color: #ffffff;
  --link-color: #000000;

  /* Colores de textos botones */
  --primary-buttons-color: #ffffff;
  --secondary-buttons-color: #64c67c;

  /* Colores Rankings*/
  --badge-bg-principiante: #804f01;
  --badge-bg-amateur: #c3c3c3;
  --badge-bg-semipro: #c2bb00;
  --badge-bg-pro: #df2727;
}

/* Estilos básicos generales */
html {
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

header,
footer {
  z-index: 10;
  /* asegúrate de que esté por encima de la sidebar */
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}

button {
  font-family: inherit;
  background-color: var(--button-primary-background-color);
  color: var(--primary-buttons-color);
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--primary-buttons-color);
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--contrast-text-color);
  color: var(--muted-text-color);
  border: 1px solid var(--muted-text-color);
}

ul,
li {
  list-style: none;
}

input {
  border-radius: 0.5rem;
}

main nav {
  display: none;
}

main>header {
  margin: 2rem 5rem 2rem;
}

/* FLASH ALERTS */
.alert {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  margin-left: 5rem;
  width: 45rem;
}

.alert-error {
  background-color: #e9bdbd;
  color: #cc0000;
  border: 1px solid #cc0000;
}

.alert-close {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #cc0000;
  border: 1px solid #e9bdbd;
  color: #e9bdbd;
  line-height: 1;
}

.alert-close:hover {
  opacity: 0.7;
  background-color: #fff;
  border: 1px solid #cc0000;
  color: #cc0000;
}

/* FOOTER */
footer {
  background: linear-gradient(180deg,
      var(--primary-color) 0%,
      var(--gradient-primary-color) 100%);
  color: var(--contrast-text-color);
}

.icon {
  width: 2rem;
}

.icon-forms {
  cursor: pointer;
  width: 2rem;
}

.container {
  background-color: var(--background-color);
  margin: 0 10rem;
}

#map {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  height: 15rem;
}

.btn {
  flex: 1;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.1s;
  text-align: center;
  width: 10rem;
}

.btn:hover {
  transform: scale(1.02);
}

.boton-filtro {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
  width: 11rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  height: 2.5rem;
}

@media (min-width: 842px) and (max-width: 1139px) {
  html {
    font-size: 1.2rem;
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 1.5rem;
  }

  input {
    border-radius: 0.5rem;
    height: 3rem;
    margin-bottom: 0.5rem;
  }

  .container h1,
  .container>p:nth-of-type(1) {
    margin-left: -2rem;
  }

  .container form {
    width: 35rem;
    display: flex;
    flex-direction: column;
  }

  .container form button {
    margin: 0 auto;
    width: 15rem;
  }
}