@import url('./base.css');

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-contents);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-container {
    text-align: center;
    padding: 40px;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.error-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.error-container h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.error-container p {
    font-size: 1.2rem;
}