@import url('./base.css');

body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-contents);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.not-found-container {
    text-align: center;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.not-found-container h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.not-found-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.back-home {
    font-family: inherit;
    background-color: var(--primary-color);
    color: var(--contrast-text-color);
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--contrast-text-color);
    border-radius: 2rem;
    cursor: pointer;
}

.back-home:hover {
    background-color: var(--background-contents);
}