@import url('./base.css');
@import url('./parts/header.css');
@import url('./parts/footer.css');

.container {
  margin: 0 1rem;
}

.register-container {
  padding: 0.75rem 1rem;
}

.login-container {
  margin-top: 2rem;
}

.register-header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: .25rem;
}

.register-header p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.error-messages .error-text {
  color: red;
  margin-bottom: .5rem;
}

.register-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

.form-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-weight: 500;
  margin-bottom: .5rem;
}

.form-container input {
  width: 100%;
  padding: .75rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  font-size: 1rem;
}

.form-container fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  border: none;
  margin-bottom: 1.5rem;
  padding: 0;
}

.form-container legend {
  margin-right: 1rem;
  font-weight: 500;
}

.form-container label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 400;
}

.form-container input[type="radio"] {
  width: 1rem;
  height: 1rem;
  margin: 0;
  accent-color: var(--button-primary-background-color);
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 2.5rem;
}

.icon-forms {
  position: absolute;
  right: .75rem;
  top: 45%;
  transform: translateY(-50%);
  width: 1.5rem;
  cursor: pointer;
}

.mandatory-note {
  font-size: .85rem;
  color: #999;
  margin-bottom: 2rem;
}

.form-container button {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.1rem;
  background-color: var(--button-primary-background-color);
  color: var(--primary-buttons-color);
  border: none;
  border-radius: .5rem;
  margin: 0 auto 1rem;
  cursor: pointer;
  transition: background-color .3s;
}

.form-container button:hover {
  filter: brightness(0.95);
}

.alert-success {
  background-color: #d4f7e0;
  color: #085f32;
  border: 1px solid var(--button-primary-background-color);
  flex-direction: column;
}

.login-link {
  font-size: .9rem;
  color: #666;
  text-align: center;
}

.login-link a {
  color: var(--muted-text-color);
  text-decoration: underline;
}

.image-container {
  display: none;
  flex: 0 1 40%;
  min-width: 200px;
}

.side-picture {
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
  border: 2px solid #64c67c;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.leaflet-control-geocoder-icon {
  vertical-align: middle !important;
  width: 2rem !important;
  height: 2rem !important;
  background-color: white !important;
}

.leaflet-control-geocoder {
  height: 100%;
  border-radius: 1rem !important;
}

.leaflet-control-geocoder-form input {
  width: 220px !important;
  margin-bottom: 0;
}

.leaflet-left {
  display: none;
}

@media (min-width: 480px) {
  .register-container {
    padding: 1rem 1.5rem;
  }

  .register-body {
    gap: 2rem;
  }

  .leaflet-left {
    display: block;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 0 1rem;
  }

  .register-container {
    padding: 3% 5%;
  }

  .register-body {
    flex-direction: row;
    gap: 3%;
  }

  .form-container {
    flex: 0 1 65%;
  }

  .image-container {
    display: block;
    margin-top: 5rem;
    flex: 0 1 35%;
  }
}

@media (min-width: 1024px) {
  .container {
    margin: 0 5rem;
  }

  .register-container {
    padding: 5% 3%;
  }

  .register-body {
    gap: 5%;
  }

  .form-container {
    flex: 0 1 60%;
  }

  .image-container {
    flex: 0 1 40%;
  }

  .register-header h1 {
    font-size: 2rem;
  }
}