/* --- Contenedor general --- */

.challenge-card {
  display: flex;
  background: var(--primary-color);
  border-radius: 0.5rem;
  overflow: hidden;
  color: var(--contrast-text-color);
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
}

.card-side {
  width: 70%;
}

/* --- Lado izquierdo con imagen o placeholder --- */
.card-side {
  position: relative;
  width: 70%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.team-image {
  position: relative;
  height: 13rem;
}

.team-image img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.team-rank {
  font-weight: bold;
  padding: 0.5rem;
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  text-align: left;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}

/* --- Zona principal de contenido --- */
.card-main {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* --- Header: nombre y récord --- */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.team-name {
  margin: 0;
  font-size: 1.25rem;
  color: var(--contrast-text-color);
}

.team-record {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.sport-icons {
  margin-bottom: 0.25rem;
}

.sport-icons .icon {
  margin-right: 0.2rem;
}

.team-motto {
  margin: 0.25rem 0;
  font-style: italic;
}

.elo {
  display: block;
  color: var(--contrast-text-color);
  font-size: 0.8rem;
}

.profile-link {
  display: flex;
  justify-content: center;
  margin: .6rem 0;
  color: var(--muted-text-color);
}

.profile-link:hover {
  text-decoration: underline;
}

.card-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;
  flex-wrap: wrap;
}

.card-actions .btn-accept,
.card-actions .btn-reject {
  display: flex;
  padding: 0;
  width: 10rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.btn-desafiar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 3rem;
  margin: 0 auto;
}

.btn-desafiar-profile {
  width: 15rem;
}

.btn-accept {
  background: var(--button-primary-background-color);
  color: var(--contrast-text-color);
  border: 0.1rem solid var(--contrast-text-color);
}

.btn-accept:hover {
  background: var(--button-secondary-background-color);
  color: var(--muted-text-color);
  border: 0.1rem solid var(--muted-text-color);
}

.btn-reject {
  background: var(--button-cancel-background-color);
  color: var(--contrast-text-color);
  border: 0.1rem solid var(--contrast-text-color);
}

.btn-reject:hover {
  background: var(--contrast-text-color);
  color: var(--button-cancel-background-color);
  border: 0.1rem solid var(--button-cancel-background-color);
}

.challenge-card--send .team-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.challenge-card--send .team-record {
  display: none;
}

.challenge-card--send .card-body p {
  margin: 0.25rem 0;
}

.challenge-card--send .btn-reject {
  display: none;
}

.challenge-card--send .card-actions {
  justify-content: center;
  margin-top: 1rem;
}

@media (min-width: 400px) {
  .challenge-card {
    flex-direction: row;
  }

  .card-side {
    width: 45%;
  }
}